* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --white: #f8f9fc;
    --navy-blue: #010a3f;
    --gray: #8e90bb;
    --blue: #3d53e0;
    --very-light-pink: #fec0c1;
    --yellow: #fcb817;
    --light-yellow: #ffdd98;
    --light-blue: #6d7ce6;
    --pink: #ff5770;
    --light-pink: #fe7d91;
    --sub-title-gray: rgba(0, 0, 0, 0.556);
    --post-gray: rgba(178, 177, 177, 0.579);
}

body {
    font-family: sans-serif;
    background: var(--white);
}
ul {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
li {
    text-decoration: none;
    color: black;
}

/* ------------ Header Section ------------ */

header {
    display: block;
    max-width: 1151px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    width: 100%;
    height: 80px;
    background: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 35px;
}
.header--logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-right: 20px;
}
.header--logo {
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}
.header--logo img {
    width: 50px;
    padding-right: 10px;
}
.header--logo-title {
    display: flex;
    align-items: center;
}
.header--logo-title p {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--navy-blue);
    padding-right: 10px;
}
.header--links {
    justify-content: center;
    align-items: center;
}
.header--links ul {
    justify-content: space-between;
}
.header--links ul li {
    display: inline-block;
    padding-right: 25px;
}
.header--links ul li a {
    color: var(--gray);
    font-size: .8rem;
    font-weight: 500;
}
.header--links ul li a:hover {
    color: var(--navy-blue);
}
.header--buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header--buttons i {
    display: none;
}
.login-button {
    display: flex;
    height: 55px;
    width: 104px;
    background: var(white);
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 14px;
    color: var(--blue);
    border: 1px solid #6d7ce66b;
    cursor: pointer;
    transition: all .25s linear;
}
.login-button:hover {
    background: var(--blue);
    color: white;
}
.login-button p {
    font-weight: 500;
    font-size: .9rem;
}
.sign-up-button {
    display: flex;
    justify-content: center;
    height: 55px;
    width: 114px;
    background: var(--blue);
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    color: white;
    cursor: pointer;
    /* -webkit-box-shadow: 0px 14px 15px -5px rgba(158, 158, 158, 0.522);
    -moz-box-shadow: 0px 14px 15px -5px rgba(158,158,158, 0.522);
    box-shadow: 0px 14px 15px -5px rgba(158,158,158, 0.522); */
    transition: all .15s linear;
}
.sign-up-button:hover {
    margin-bottom: 5px;
}
.sign-up-button p {
    font-weight: 500;
    font-size: .9rem;
}

.content-area {
    display: block;
    width: 100%;
    min-width: 323px;
}
/*  ------------ Hero Section ------------- */

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
}
.hero--content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1168px;
}
.hero__left {
    display: flex;
    width: 60%;
    height: 500px;
    background: var(--white);
    position: relative;
    align-items: center;
    padding-left: 10%;
}
.hero__left--triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 2rem 0 0 2rem;
    border-color: transparent transparent transparent #8590e259;
    transform: rotate(0deg);
    bottom: -50px;
    left: -57px;
}
.hero__left--title {
    z-index: 2;
}
.hero__left--title h1 {
    color: var(--navy-blue);
    font-size: 5rem;
    margin-bottom: 1.5rem;
}
.hero__left--title h3 {
    color: rgba(16, 20, 58, 0.56);
    font-size: 1rem;
    font-weight: 400;
}
.hero__left--button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 4rem;
    width: 11rem;
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    font-size: .75rem;
}
.hero__right {
    width: 40%;
    height: 100%;
    background: var(--white);
    position: relative;
    overflow: hidden;
    min-width: 536px;
}

.blue-triangle-one {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 125px 0 0 125px;
    border-color: transparent transparent transparent var(--blue);
    transform: rotate(0deg);
    position: absolute;
    top: 0;
    left: 5%;

}
.blue-triangle-two {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 125px 0 0 125px;
    border-color: transparent transparent transparent var(--blue);
    transform: rotate(0deg);
    position: absolute;
    left: 5%;
    top: 25%;

}
.small-blue-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 70px 0 0 70px;
    border-color: transparent transparent transparent var(--light-blue);
    transform: rotate(0deg);
    position: absolute;
    top: 0;
    left: 20%;
}
.big-pink-circle {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: var(--very-light-pink);
    top: -30%;
    right: 0;
}
.teardrop {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 0px 50% 50% 50%;
    transform: rotate(175deg);
    height: 6rem;
    width: 6rem;
    position: absolute;
}
.teardrop-pink{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 0px 50% 50% 50%;
    transform: rotate(175deg);
    height: 9.25rem;
    width: 9rem;
    position: absolute;
    bottom: 50%;
    right: 1%;

}
.teardrop-yellow {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(232, 173, 47);
    border: 2px solid rgb(232, 173, 47);
    border-radius: 0px 50% 50% 50%;
    transform: rotate(270deg);
    height: 15rem;
    width: 15rem;
    position: absolute;
    right: 0;
    bottom: 0;

}
.small-card {
    position: absolute;
    height: 172px;
    width: 181px;
    border-radius: 15px;
    top: 63%;
    background: rgba(124, 134, 225, 0.153);
}
.small-card-content {
    position: relative;
    height: 174px;
    border-radius: 15px;
}
.small-card-content .small-card--button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    background: rgba(201, 201, 245, 0.372);
    color:  rgba(0, 0, 255, 0.649);
    top: 12%;
    left: 12%;
    font-size: 0.7rem;
    font-weight: 600;
}
.small-card-content p {
    position: absolute;
    font-size: 1.25rem;
    left: 12%;
    bottom: 20%;
    color: var(--navy-blue);
    line-height: 1.25rem;
}
.small-card-content p span{
    font-size: .75rem;
    color: var(--gray);
}
.big-card{
    position: absolute;
    height: 350px;
    width: 300px;
    border-radius: 15px;
    background: var(--white);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top:15%;
    -webkit-box-shadow: 0px 14px 53px -29px rgba(107,107,107,1);
-moz-box-shadow: 0px 14px 53px -29px rgba(107,107,107,1);
box-shadow: 0px 14px 53px -29px rgba(107,107,107,1);

}
.big-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
}
.big-card--header {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    height: 20px;
    width: 50%;
    /* border: 1px solid black; */
    top: 15%;
    color: var(--blue);
    font-size: 1.5rem;
}
.big-card--header p {
    color: var(--navy-blue);
}

.big-card--content {
    position: absolute;
    height: 200px;
    width: 250px;
    /* border: 1px solid black; */
    bottom: 10%;
}
.big-card-content--wrapper {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    align-items: center;
    /* border: 2px solid; */
    justify-items: center;
}
.big-card-square {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5.25rem;
    width: 7rem;
    border-radius: 5px;
    background: rgba(0, 0, 255, 0.269);
}
.big-card-square {
    font-size: 1.2rem;
}
.big-card-square p {
    font-size: .65rem;
    color: var(--navy-blue);
}
.red {
    background: #fab7ba41;
    color: #feaaad;
}
.blue {
    background: #959cd856;
    color: #6d7ce6;
}
.yellow {
    background: rgba(246, 246, 125, 0.285);
    color: rgb(218, 218, 9);
}
.gray {
    background-color: rgba(177, 177, 177, 0.306);
    color: gray;
}

/* ----------- Info section ---------- */

.info-section-container {
    width: 100%;
    background: rgba(211, 222, 241, 0.527);
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.info-section-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* border: 2px solid black; */
    margin-top: 6rem;
    max-width: 930px;
}
.info-section-card {
    position: relative;
    height: 24rem;
    width: 20rem;
    background: var(--white);
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 19px 51px -36px rgba(128,128,128,1);
    -moz-box-shadow: 0px 19px 51px -36px rgba(128,128,128,1);
    box-shadow: 0px 19px 51px -36px rgba(128,128,128,1);
}
.info-section-card.graph .floating-item {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: -112px;
    left: 54px;
    background: #ffdc97;
    border-radius: 50%;
    z-index: -1;
}
.info-section-card.tools .floating-item  {
    background-color: #d6ddf5;
    border: 2px solid #d6ddf5;
    border-radius: 0px 50% 50% 50%;
    transform: rotate(270deg);
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: -54px;
    left: 342px;
    z-index: -10;
}
.info-section-card.chat .floating-item {
    height: 3rem;
    width: 3rem;
    background: transparent;
    position: absolute;
    bottom: -47px;
    left: -90px;
    overflow: hidden;
}
.info-section-card.chat .floating-item .pink-circle {
    position: absolute;
    background: #ffbcbd;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    top: 20px;
    left: 20px;
}

.info-section-card--container {
    width: 80%;
    height: 80%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-section-card--image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 90%;
}
.info-section-card--title {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 60%;
    width: 90%;
    /* border: 2px solid blue; */
}
.info-section-card--title h2 {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.info-section-card--title p {
    color: var(--sub-title-gray);
    font-size: .75rem;
    text-align: center;
    line-height: 1rem;
}
.graph-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    background-color: var(--white);
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
    box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
}
.graph-image i {
    font-size: 5rem;
    color: var(--blue);
}
.graph-image-float {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    width: 40%;
    border-radius: 15px;
    background: var(--white);
    top: -20%;
    right: -15%;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
    box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
}
/* .graph-image-float  i {
    color: var(--pink);
    font-size: 2rem;
} */

.info-section__left {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 50%;
}

.info-section__left--title p {
    font-size: .75rem;
    color: #4d6fff;
    letter-spacing: .15rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}
.info-section__left--title h2 {
    color: var(--navy-blue);
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.info-section__left--title h3 {
    color: rgb(97 112 147);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5.5rem;
    line-height: 1.5rem;
}
.info-section-card.calendar {
    margin-bottom: 3rem;
}

.info-section__right {
    width: 50%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 85px;
}

.info-section__right .info-section-card.tools {
    margin-top: 4rem;
}
.info-section-card.chat {
    margin-bottom: 4rem;
}
.info-section-card--cal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 90%;
    background-color: var(--white);
    border-radius: 15px;
    position: relative;
}
.info-section-card--cal-container {
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 10px;
}
.info-section-card--cal .dates {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.info-section-card--cal .dates .dates-card {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 4rem;
    border-radius: 5px;
    align-items: center;
    color: var(--yellow);
    font-weight: 600;
    box-shadow: 0px 0px 3px 0px rgb(138 135 138 / 27%);
}
.info-section-card--cal .dates .dates-card.reverse {
    background: var(--yellow);
    color: white;
}
.info-section-card--cal .dates .dates-card .date {
    width: 40%;
    margin-left: 4px;
}

.info-section-card--cal .dates .dates-card .skeleton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 4px;
    width: 60%;
}

.dates-card .skeleton .top-skeleton {
    height: .25rem;
    width: 80%;
    border-radius: 15px;
    background: var(--yellow);
}

.dates-card .skeleton .bottom-skeleton {
    height: .25rem;
    width: 40%;
    border-radius: 15px;
    background:var(--yellow);
}
.dates-card .skeleton .top-skeleton.reverse {
    background: white;

}
.dates-card .skeleton .bottom-skeleton.reverse {
    background: white;
}
.info-section-card--cal .posts {
    border: .25px solid rgba(112, 112, 112, 0.142);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}
.info-section-card--cal .posts .posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;

    border-radius: 5px;
}
.posts-container .posts-hline {
    height: .25rem;
    width: 40%;
    background: rgba(203, 203, 203, 0.47);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.posts-container .post {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2rem;
    width: 80%;
    border-radius: 5px;
    background: rgba(174, 173, 173, 0.234);
    -webkit-box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
    box-shadow: 0px 0px 20px -10px rgba(184,184,184,1);
    
}
.posts-container .post i {
    margin-left: 5px;
    margin-right: 8px;
    color: var(--post-gray);
}
.post-skeletons {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
}
.post-skeleton {
    height: .25rem;
    width: 70%;
    border-radius: 15px;
    background: var(--post-gray);
}
.posts-container .post.one {
    margin-bottom: 8px;
}
.posts-container .post.two {
    display: flex;
    flex-direction: column;
    height: 4rem;
}
.post-skeleton.one {
    margin-bottom: 5px;
}
.post-skeleton.two {
    width: 40%;
}
.post-wrapper {
    display: flex;
    width: 100%;
}
.post-wrapper i {
    color: var(--post-gray);
}
.email-skeletons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;

}
.email-skeletons .email-skeleton-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    background: var(--white);
    box-shadow: 0px 0px 10px 0px rgb(138 135 138 / 27%);

}
.email-skeleton-top .chat-line {
    margin-left: 20px;
    height: .5rem;
    border-radius: 15px;
    background: rgba(192, 192, 192, 0.818);
}
.chat-line.one {
    width: 60%;
}
.chat-line.two {
    width: 80%;
}
.chat-line.three {
    width: 30%;
}
.chat-line.four {
    width: 60%;
}
.email-skeletons .email-skeleton-bottom {
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    background: var(--blue);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgb(138 135 138 / 27%);
}
.email-skeletons .email-skeleton-bottom .image-icon-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    background: var(--white);
    margin-right: 20px;
}
.image-icon-container i {
    color: var(--blue);
}
.email-skeleton-bottom .email-bottom-skeleton {
    height: .5rem;
    width: 50%;
    background: var(--white);
    border-radius: 15px;
}
.info-section-card--container .tools-container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tool-chat-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(138 135 138 / 27%);
}
.tool-chat-container.pink {
    background: #f25671;
    height: 30%;
    width: 90%;
    margin-left: 20px;
}
.tool-chat-container.pink .icon {
    background-color: var(--white);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f25671;
}
.tool-chat-container.pink .chat-line {
    background: var(--white);
}
.tool-chat-container .icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    background: rgba(192, 192, 192, 0.818);
}
.tool-chat-container .chat-line {
    height: .40rem;
    width: 60%;
    background: rgba(192, 192, 192, 0.818);
    border-radius: 35px;
}
.transition-section {
    display: block;
    margin: 0 auto;
    position: relative;
    background: var(--white);
    height: 100px;
    width: 500px;
    overflow: hidden;
    /* border: 2px solid red; */
}
.transition-section .floating-item {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #ffdc97;
    top: -13px;
    right: 0px;
}
.voor {
    display: flex;
    width: 100%;
    position: relative;
    height: 500px;
    max-width: 1120px;
    margin: 0 auto;
    gap: 4rem;
}
.voor__left {
    position: relative;
    width: 50%;
    overflow: hidden;
    max-width: 519px;
    max-height: 503px
}
/* .voor__left .big-card {
    height: 300px;
    width: 250px;
} */

.voor__left .small-card {
    background: var(--navy-blue);
    color: var(--white);
    height: 150px;
    width: 150px;
    left: 5%;
    top: 69%;
}
.voor__left .small-card .small-card-content {
    display: flex;
    justify-content: left;
    font-size: .5rem;
    height: 100%;
}
.voor__left .small-card .small-card-content p {
    text-align: left;
    font-size: 1rem;
    color: var(--white);
 
}
.voor__left .small-card .small-card-content span {
    color: var(--white);
 
}
.voor__left .small-card .small-card-content .small-card--button {
    font-size: .5rem;
    height: 1.5rem;
    width: 3rem;
    margin-bottom: 2rem;
    background-color: #25317376;
    color: var(--white);
}
.big-blue-square {
    position: absolute;
    height: 300px;
    width: 300px;
    background: #485bd93a;
    top: -10%;
    left: -10%;
}
.big-blue-circle {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: var(--blue);
    top: -20%;
    left: -20%;
}
.voor__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.voor__right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.voor__right .info-section__left--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    /* margin-top: 6rem; */

}
.voor__right .info-section__left--title  h2 {
    /* align-self: flex-start; */
}
.voor-een-container {
    display: flex;
    flex-direction: column;

}
.voor-een-container .item-container {
    display: flex;
    margin-bottom: 2rem;
}
.voor-een-container .item-container .icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
    /* border: 2px solid black; */
}
.voor-een-container .item-container .icon-container .icon-circle {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: rgb(237 241 255);
    top: -50%;
    left: -50%;
    z-index: -1;
}
.voor-een-container .item-container .icon-container .icon-circle.wrench {
    background:  rgb(253 231 232);
    top: -40%;
}
.voor-een-container .item-container .icon-container .icon-circle.medal {
    top: -40%;
    left: -60%;
    background: rgb(255 244 221)
}
.voor-een-container .item-container .icon-container i {
    color: var(--navy-blue);
}
.voor-een-container .item-container .listing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    line-height: 1.2rem;

}
.item-container .listing-container h3 {
    font-size: 1rem;
    margin-bottom: .75rem;
    color: var(--navy-blue);
}
.item-container .listing-container p {
    color: rgb(90 105 141);
    font-size: .75rem;
}
.voor-een-container button {
    color: white;
    border: none;
    align-self: center;
    height: 3rem;
    width: 10rem;
    background: var(--blue);
    border-radius: 10px;
    -webkit-box-shadow: 0px 14px 15px -5px rgba(158,158,158,1);
    -moz-box-shadow: 0px 14px 15px -5px rgba(158,158,158,1);
    box-shadow: 0px 14px 15px -5px rgba(158,158,158,1);
}

/*  ------------ Floating CRM Section -------------- */
.crm {
    display: block;
    /* height: 600px; */
    width: 100%;
    text-align: center;
    background: var(--white);
    margin-top: 8rem;
    margin-bottom: 125px;
}
.floating-crm-container {
    margin-top: 6rem;
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 800px;
    /* border: 2px solid black; */
    border-radius: 15px;
    background: rgba(211, 222, 241, 0.527);
}
.floating-crm-container .teardrop-pink {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 0px 50% 50% 50%;
    transform: rotate(270deg);
    width: 5rem;
    position: absolute;
    top: -47px;
    right: -38px;
    height: 5.25rem;
}

.floating-crm--content {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
}
.floating-crm--content .crm-title-section {
    display: inline-block;
    height: 201px;
    margin: auto;
    /* width: 381px; */
}
.floating-crm--content .crm-title-section .title-container {
    display: inline-grid;
    align-items: center;
}

.floating-crm--content .crm-title-section h2 {
    line-height: 2.5rem;
    margin-top: 1rem;
    color: var(--navy-blue);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.floating-crm--content .crm-title-section .title-container button {
    color: white;
    border: none;
    align-self: center;
    height: 3rem;
    width: 10rem;
    background: var(--blue);
    border-radius: 10px;
    -webkit-box-shadow: 0px 14px 15px -5px rgba(158,158,158,1);
    -moz-box-shadow: 0px 14px 15px -5px rgba(158,158,158,1);
    box-shadow: 0px 14px 15px -5px rgba(158,158,158,1);
}
.floating-crm--content .crm-image-section {
    height: 300px;
    float: right;
    width: 45%;
}
.crm-dashboard-image {
    position: absolute;
    bottom: -117px;
    right: -85px;
    width: 400px;
    border-radius: 5px;
}
.floating-crm-container .triangle {
    position: absolute;
    bottom: -106px;
    right: -38px;
    z-index: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 197px 197px 0;
    border-color: transparent #0B03FF transparent transparent;
    transform: rotate(0deg);
 }
 .floating-crm-container .triangle.two {
    position: absolute;
    bottom: -111px;
    right: 68px;
    z-index: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 197px 197px 0;
    border-color: transparent #808eff9c transparent transparent;
    transform: rotate(0deg);
 }
 .floating-crm-container .floating-div {
    position: absolute;
    height: 3rem;
    width: 3rem;
    /* border: 1px solid red; */
    overflow: hidden;
    top: -90px;
    left: -3px;
    transform: rotate(15deg);
 }
 .floating-crm-container .floating-div .div-circle{
    position: absolute;
    height: 3rem;
    width: 3rem;
    background: #ffdc97;
    border-radius: 50%;
    top: 22px;
    left: -19px;
 }
.image-floating-div {
    position: absolute;
    height: 7rem;
    width: 7rem;
    /* border: 1px solid red; */
    overflow: hidden;
    bottom: 0;
    left: 378px;
}
.image-floating-div .image-floating-div--circle {
    position: absolute;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    background: #febcbd;
    top: -65px;
    left: -72px;
}

/*  -------- Features Section -------------- */

section.features {
    text-align: center;
    display: block;
    width: 100%;
}
.features .features--title-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
}
.features .features--title-container .floating-item {
    position: absolute;
    background-color: #febcbd;
    border: 2px solid #febcbd;
    border-radius: 0px 50% 50% 50%;
    transform: rotate(270deg);
    width: 1.75rem;
    height: 1.75rem;
    top: 43px;
    right: -186px;
}
.features .features--title-container h2 {
    font-weight: 500;
    font-size: 2.75rem;
    margin-bottom: 1.5rem;
    line-height: 3.25rem;
    color: var(--navy-blue);
}
.features .features--title-container p {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    font-size: .75rem;
    color: gray;
    line-height: 1.5rem;
    padding: 0 4px;
    color: #4b427b;
}
.features--icon-container {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 57px;
    margin-bottom: 4rem;
}
.features--icon-container .icon {
    font-size: 1.25rem;
    color: var(--navy-blue);
    margin-bottom: .5rem;
}
.features--icon-container .icon i {
    position: relative;
}
.icon--background {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #fff4dd;
    top: -9px;
    left: -1px;
    z-index: -1;
}
.icon--background.pink {
    background: rgb(253 234 235);
}
.icon--background.blue {
    background: rgb(237 241 255);
}
.features--icon-container .text {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1rem;
    color: var(--navy-blue);
} 

/*  --------- Join Now Section ---------- */

.join-now {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.join-now-block {
    position: relative;
    display: inline-block;
    max-width: 325px;
    height: 300px;
    border-radius: 15px;
    background: #fff4dd;
    margin: 9px;
    padding: 80px 56px 50px;
    text-align: left;
}
.join-now-block.left .floating-teardrop {
    position: absolute;
    background-color: #febcbd;
    border: 2px solid #febcbd;
    border-radius: 0px 50% 50% 50%;
    transform: rotate(178deg);
    width: 1.75rem;
    height: 1.75rem;
    bottom: -52px;
    left: -75px;
}
.join-now-block.right .floating-triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 2rem 0 0 2rem;
    border-color: transparent transparent transparent #8590e259;
    transform: rotate(0deg);
    top: -52px;
    right: -101px;
}

.join-now-block.right .join-now-block--content .icon-container {
    overflow: visible;
}
.join-now-block.right .join-now-block--content .icon-container .icon-container--background {
    background-color: #bfcfff69;
    border: 2px solid #bfcfff45;
    border-radius: 0px 50% 50% 50%;
    transform: rotate(270deg);
    width: 3rem;
    height: 3rem;
    top: 3px;
    right: -10px;
}
.join-now-block--content .title h3 {
    color: var(--navy-blue);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.join-now-block.right {
    background: #edf1ff;
}
.join-now-block--content .description p {
    color: rgb(103 116 147);
    font-size: .75rem;
    line-height: 1.25rem;
}

.join-now-block--content .icon-container {
    color: var(--navy-blue);
    position: relative;
    display: flex;
    align-items: end;
    height: 3rem;
    width: 3rem;
    /* border: 2px solid red; */
    overflow: hidden;
    margin-bottom: 1rem;
}
.join-now-block--content .icon-container .icon-container--background {
    position: absolute;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: rgb(255 220 151 / 74%);

}
.join-now-block--content .icon-container i {
    font-size: 1.75rem;
}

/*  -------- Footer Section ------------ */

footer {
    display: block;
    width: 100%;
    background: #07043b;
    height: 600px;
    text-align: center;
    position: relative;
}
.footer-title-container {
    max-width: 450px;
    text-align: center;
    color: var(--white);
    margin-top: 79px ;
    display: inline-block;
    /* border: 2px solid red; */
    z-index: 10;
    position: relative;
    margin-bottom: 4rem;
}

.footer-title-container h2 {
    line-height: 3rem;
    font-size: 2.75rem;

    margin-bottom: 2rem;
}

.footer-title-container button {
    color: white;
    border: none;
    align-self: center;
    height: 3rem;
    width: 10rem;
    background: var(--blue);
    border-radius: 10px;
}
.footer-floating-triangle {
    position: absolute;
    z-index: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 197px 197px 0;
    border-color: transparent #ffffff38 transparent transparent;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    z-index: 1;
}
.footer-floating-triangle.two {
    top: 104px;
    right: 95px;
    border-width: 0 136px 136px 0;
}
.footer-floating-div {
    position: absolute;
    z-index: 0;
    width: 19rem;
    height: 18rem;
    /* border: 2px solid red; */
    top: -40px;
    left: -105px;
    overflow: hidden;
    z-index: -1;
}
.footer-floating-div .circle {
    position: absolute;
    height: 32rem;
    width: 32rem;
    border-radius: 50%;
    background: #ffffff38;
    top: 0;
    left: 0;
    z-index: 1;
}
.footer-links {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    max-width: 740px;
    margin: 50px auto 0px;
}
.footer-links>* {
    display: flex;
    align-items: center;
}
/* .address {
    display: flex;
    align-items: center;
} */
.footer-links .address img {
    display: inline-block;
    width: 50px;
    padding-right: 10px;
}

.footer-links .address p {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    margin-top: 6px;
}
.footer-links h3 {
    font-size: .75rem;
}
.footer-hyper-links {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    max-width: 740px;
    margin: 0 auto;
}
.footer-hyper-links>* {
    text-align: left;
}
.footer-hyper-links ul li {
    padding: 10px 0;
}
.footer-hyper-links ul li a{
    color: #93a2de;
    font-size: .75rem;
}
.footer-hyper-links .address {
    text-align: left;
}
.footer-hyper-links .address p {
    line-height: 1.25rem;
    font-size: 0.6rem;
    color: #ffffff9e;
}
.logo-address-container {
    display: none;
}

@media screen and (max-width: 937px) {
    .hero {
        display: block;
        height: 100%;
        width: 100%;
    }
    .hero--content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .hero__left {
        width: 100%;
        height: 500px;
        padding: unset;
        justify-content: center;
        margin: 0 auto;
    }
    .hero__right {
        /* max-width: 500px; */
        height: 500px;
        margin: 0 auto;
    }
    .join-now-block.right .floating-triangle {
        display: none;
    }
    .join-now-block.left .floating-teardrop {
        display: none;
    }
    
}
@media screen and (max-width: 830px) {
    .header--links ul li {
        display: none;
    }
    .header--buttons {
        margin-right: 5%;
    }
    .header--buttons i {
        font-size: 2rem;
        display: unset;
    }
    .login-button {
        display: none;
    }
    .sign-up-button {
        display: none;
    }
    .info-section-container {
        width: 100%;
    }
    .info-section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-section__left {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 4rem;
    }
    .info-section__right {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .floating-crm--content {
        flex-direction: column;
    }
    .crm-title-section {
        width: 100%;
    }
    .crm-image-section {
        width: 100%;
    }
    .crm-dashboard-image {
        position: absolute;
        bottom: -47px;
        right: -4px;
        width: 400px;
        border-radius: 5px;
    }
    .features .features--title-container .floating-item {
        display: none;
    }
}

@media screen and (max-width: 747px) {
    .voor {
        display: block;
        width: 100%;
        height: 100%;
    }
    .voor__right {
        width: 100%;
    }
    .voor__left {

        display: block;
        height: 500px;
        width: 100%;
        margin: 6rem auto;
    }
    .voor__right .info-section__left--title {
        margin-top: 0;
    }
    .transition-section {
        display: none;
    }
    .crm {
        margin-top: 0;
    }
    .footer-links {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-hyper-links {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-links>* {
        justify-content: center;
    }
    .footer-hyper-links ul li>* {
        display: flex;
        justify-content: center;
    }
    .footer-links .address {
        display: none;
    }
    .footer-hyper-links .address {
        display: none;
    }
    .logo-address-container {
        display: block;
        text-align: center;
        background: #07043b;
    
    }
    .logo-address-container .logo {
        display: flex;
        width: 200px;
        color: white;
        align-items: end;
        justify-content: center;
        padding-right: 10px;
        margin: 0 auto;
    }
    .logo-address-container .logo img {
        width: 50px;
        padding-right: 10px;
    }
    .logo-address-container .logo p {
        padding-bottom: 7px;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--white);
    }
    .logo-address-container .address p {
        color: #93a2de;
        padding-bottom: 50px;
        line-height: 1.25rem;
        font-size: 0.6rem;
        color: #ffffff9e;
    }

}
@media screen and (max-width: 535px) {
    .hero__right {
        width: 100%;
        min-width: unset;
    }
    .hero__left {
        padding-left: 5%;
    }
    .floating-item {
        display: none;
    }
    .floating-crm-container .triangle {
        display: none;
    }
    .crm {
        margin-bottom: 4rem;
    }
    .features--icon-container {
        margin: 0 auto 4rem;
        max-width: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 522px) {
    .crm-image-section {
        display: none;
    }
    .floating-crm-container {
        height: 201px;
        width: 89%;
    }
    .floating-crm-container .teardrop-pink {
        display: none;
    }
    .image-floating-div {
        display: none;
    }
    .footer-floating-div {
        display: none;
    }
    .footer-floating-triangle.two {
        display: none;
    }
    
}
@media screen and (max-width: 322px) {
    .floating-crm--content .crm-title-section h2 {
        line-height: 2rem;
        margin-top: 1rem;
        color: var(--navy-blue);
        font-size: 1rem;
        margin-bottom: 2rem;
    
    }
}
